///////////////////////////////////////
// IMPORTS ////////////////////////////

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

///////////////////////////////////////
// VARIABLES //////////////////////////

$colors: (
  Blue: hsl(246, 80%, 60%),
  Light-red-work: hsl(15, 100%, 70%),
  Soft-blue-play: hsl(195, 74%, 62%),
  Light-red-study: hsl(348, 100%, 68%),
  Lime-green-exercise: hsl(145, 58%, 55%),
  Violet-social: hsl(264, 64%, 52%),
  Soft-orange-self-care: hsl(43, 84%, 65%),
  Very-dark-blue: hsl(226, 43%, 10%),
  Dark-blue: hsl(235, 46%, 20%),
  Desaturated-blue: hsl(235, 45%, 61%),
  Pale-blue: hsl(236, 100%, 87%),
  White: hsl(0, 0%, 100%),
);

$font: "Rubik", sans-serif;

$border-radius: 10px;
$padding: 25px;
$background-icon-size: 60px;

$mobile-width: 900px;

///////////////////////////////////////
// MIXINS /////////////////////////////

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin mobile() {
  @media (max-width: $mobile-width) {
    @content;
  }
}

///////////////////////////////////////
// FUNCTIONS //////////////////////////

@function color($color-name) {
  @return map-get($colors, $color-name);
}

///////////////////////////////////////
// STYLES /////////////////////////////

body {
  margin: 0;
}

.dashboard-container {
  @include flex(row, center, center);
  min-height: 100vh;
  background-color: color(Very-dark-blue);
}

.dashboard {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  gap: 25px 30px;
  font-family: $font;
  user-select: none;
  margin: 50px 20px;
}

.profile {
  grid-area: 1 / 1 / 3 / 2;
  @include flex(column, flex-start, flex-start);
  box-sizing: border-box;
  background-color: color(Dark-blue);
  border-radius: $border-radius;
  width: 195px;

  &__info {
    @include flex(column, flex-start, flex-start);
    box-sizing: border-box;
    background-color: color(Blue);
    border-radius: $border-radius;
    width: 100%;
    height: 280px;
    padding: $padding;
  }

  &__img {
    width: 60px;
    border-radius: 100%;
    border: 2px solid color(White);
    margin: 0 0 20px 0;
  }

  &__text-container {
    @include flex(column, flex-start, flex-start);
  }

  &__text {
    color: color(Pale-blue);
    font-size: 13.5px;
    font-weight: 400;
    margin: 0 0 3px 0;
  }

  &__name {
    color: color(White);
    font-size: 31px;
    font-weight: 300;
    margin: 0;
  }

  &__time-container {
    @include flex(column, space-around, flex-start);
    box-sizing: border-box;
    height: 150px;
    padding: $padding;
  }

  &__time-mode {
    font-size: 17px;
    font-weight: 400;
    margin: 0;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
    }

    &--unselected {
      color: color(Desaturated-blue);

      &:hover {
        color: color(White);
        opacity: 0.85;
      }
    }

    &--selected {
      color: color(White);
    }
  }
}

.activity {
  @include flex(column, flex-end, flex-start);
  border-radius: $border-radius $border-radius $border-radius + 10px
    $border-radius + 10px;
  box-sizing: border-box;

  &__info {
    @include flex(column, flex-start, flex-start);
    box-sizing: border-box;
    background-color: color(Dark-blue);
    border-radius: $border-radius;
    width: 100%;
    height: 80%;
    padding: $padding;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      filter: brightness(1.7);
    }
  }

  &__header-container {
    @include flex(row, space-between, center);
    width: 100%;
    margin: 0 0 20px 0;
  }

  &__heading {
    color: color(White);
    font-size: 16px;
    font-weight: 500;
    margin: 0;
  }

  &__ellipsis {
    width: 22px;

    &:hover {
      cursor: pointer;
    }
  }

  &__time-container {
    @include flex(column, flex-start, flex-start);
  }

  &__current-time {
    color: color(White);
    font-size: 40px;
    font-weight: 300;
    margin: 0 0 10px 0;
  }

  &__prev-time {
    color: color(Pale-blue);
    font-size: 12.5px;
    margin: 0;
  }
}

#activity-work {
  background: url("../assets/icon-work.svg") color(Light-red-work) no-repeat top
    right;
  background-size: $background-icon-size;
}

#activity-play {
  background: url("../assets/icon-play.svg") color(Soft-blue-play) no-repeat top
    right;
  background-size: $background-icon-size;
}

#activity-study {
  background: url("../assets/icon-study.svg") color(Light-red-study) no-repeat
    top right;
  background-size: $background-icon-size;
}

#activity-exercise {
  background: url("../assets/icon-exercise.svg") color(Lime-green-exercise)
    no-repeat top right;
  background-size: $background-icon-size;
}

#activity-social {
  background: url("../assets/icon-social.svg") color(Violet-social) no-repeat
    top right;
  background-size: $background-icon-size;
}

#activity-selfcare {
  background: url("../assets/icon-self-care.svg") color(Soft-orange-self-care)
    no-repeat top right;
  background-size: $background-icon-size;
}

@include mobile() {
  .dashboard {
    @include flex(column, flex-start, center);
    width: 320px;
    margin: 60px 0 50px 0;
  }

  .profile {
    width: 100%;

    &__info {
      @include flex(row, flex-start, flex-start);
      height: auto;
      padding-bottom: $padding - 20px;
    }

    &__text-container {
      margin: 8px 0 0 14px;
    }

    &__name {
      font-size: 25px;
    }

    &__time-container {
      @include flex(row, space-around, center);
      width: 100%;
      height: auto;
    }
  }

  .activity {
    width: 100%;
    height: 155px;

    &__info {
      height: 75%;
    }

    &__header-container {
      margin: 0 0 17px 0;
    }

    &__time-container {
      @include flex(row, space-between, center);
      width: 100%;
    }

    &__current-time {
      font-size: 28px;
      margin: 0;
    }
  }
}
